<style>
  .fullHeight {
    min-height: 80vh;
  }
</style>
<section class="section fullHeight">
  <div class="container">
    <div class="test1 columns is-vcentered ml-5">
      <div class="column">
        <p>Consultar calendario</p>
      </div>
    </div>
  </div>
</section>
