
<section class="section">
    <div class="container">
      <div class="test1 columns is-vcentered ml-5">
        <div class="column">
          <p>Consultar calendario</p>
          <li>
            Entrevista clinica: Arturo Díaz  27/03/2025 12:00
          </li>
          <li>
            Entrevista clinica: Luisa Ramírez  27/03/2025 13:00
          </li>
          <li>
            Aplicación prueba grupal: Maestría en Administración Pública y Política Públic  28/03/2025 11:00
          </li>
        </div>
      </div>
    </div>
  </section>
</body>
</html>