<style>
    .fullHeight {
min-height: 76.5vh;
}
  </style>
<section class="section fullHeight">
    <div class="container">
        <div class="columns">
            <div class="column">
                <p class="subtitle is-3">Verifica tus datos</p>
            </div>
        </div>
        <div class="test1 columns is-vcentered ml-5">
            <div class="column">
                <form id="personalInformation" method="POST" class="p-5">
                    <label for="apellidoPaterno" class="label">Apellido Paterno:</label>
                    <p>Rodríguez</p>
            </div>
            <div class="column">
                <label for="apellidoMaterno" class="label">Apellido Materno:</label>
                <p>López</p>
            </div>
                <br />
            <div class="column">
                <label for="name" class="label">Nombre(s)</label>
                <p>Juan</p>
                <br />
            </div>
        </div>
        <div class="edad columns is-vcentered ml-5">
            <div class="column">
                    <label for="selectAge" class="label">Edad:</label>

                    <div class=" is-primary">
                        <p>25</p>
                    </div>
                    <div>
                        <br>
                        <p>Una vez que des click en 'Siguiente', comenzarán a correr tus 30 minutos</p>
                    </div>
            </div>
            <div class="columns is-vcentered ">
                <br><br>
                <button class="column is-narrow button is-info has-text-warning  "><a href="instrucciones_prueba">Regresar</a ></button> 
                <button class="column is-narrow button is-info has-text-warning ml-4"><a href="preguntas_prueba">Siguiente</a ></button>
            </div>
            </form>
        </div>
      </div>
    </div>
  </section>

