<style>
  .fullHeight {
    min-height: 90vh;
    margin-top: 20px;
  }
</style>
<section class="section fullHeight">
  <div class="container mt-5 is-max-desktop">
    <div class="notification is-info is-size-3">¡Prueba completada!</div>
  </div>
  <div class="columns">
    <div class="column has-text-centered mt-6">
      <a href="/aspirante/inicio">
        <button class="button is-primary has-text-warning ml-6">
          Página de inicio
        </button>
      </a>
    </div>
  </div>
</section>
