<style>
  .footer {
    height: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
</style>
<footer class="footer has-background-info">
  <div class="content has-text-centered">
    <p>
      <strong>TestInsight DX</strong> by SoftSync. The source code is licensed
      <a href="https://opensource.org/license/mit">MIT</a>. The website content
      is licensed
      <a href="https://creativecommons.org/licenses/by-nc-sa/4.0//"
        >CC BY NC SA 4.0</a
      >.
    </p>
  </div>
</footer>
