<style>
  :root {
    --bulma-primary-h: 227deg;
    --bulma-primary-s: 54%;
    --bulma-primary-l: 44%;
    --bulma-link-h: 224deg;
    --bulma-link-s: 84%;
    --bulma-link-l: 20%;
    --bulma-info-h: 216deg;
    --bulma-info-l: 91%;
    --bulma-success-h: 175deg;
  }
  .fullHeight {
    min-height: 50vh;
    margin-top: 20px;
  }
</style>

<section class="section fullHeight has-background-warning">
  <div class="container">
    <div class="columns">
      <div class="column has-text-centered">
        <br>
    <h1 class="title is-3 has-text-weight-semibold">Familia</h1>
  </div>
  </div>
  <div class="columns">
    <div class="interviewFormat column has-text-centered">
    <form action="formatoEntrevistaFamilia" method="POST">
      <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
      <input type="hidden" name="idFormato" value="<%= formato %>" />
      <input type="hidden" name="idFamilia" value="<%= familia ? familia : "" %>" />
      <div class="block"></div>
      <button
        class="button has-background-primary has-text-warning"
        type="submit">
        Continuar
      </button>
    </form>
  </div>
</div>
</section>
