<style>
    :root {
      --bulma-primary-h: 227deg;
      --bulma-primary-s: 54%;
      --bulma-primary-l: 44%;
      --bulma-link-h: 224deg;
      --bulma-link-s: 84%;
      --bulma-link-l: 20%;
      --bulma-info-h: 216deg;
      --bulma-info-l: 91%;
      --bulma-success-h: 175deg;
    }
    .fullHeight {
    min-height: 50vh;
    margin-top: 20px;
  }
  </style>
  
  <section class="section fullHeight">
    <div class="container">
      <h1 class="title is-3 has-text-weight-semibold">Formato de entrevista</h1>
      <div class="interviewFormat columns is-vcentered ml-5"></div>
      <br /><br />
      <h3 class="title is-4 has-text-weight-semibold">Datos Laborales</h3>
      <form action="formatoentrevistaDL" method="POST">
<!--CSRF TOKEN-->
        <input type="hidden" name="idFormato" value="<%= formato %>" />
        <div class="columns is-vcentered ml-5">
          <div class="column">
            <label for="lugarTrabajo" class="label">Lugar donde trabaja:</label>
            <input
              class="input"
              type="text"
              placeholder="Lugar..."
              id="lugarTrabajo"
              name="lugarTrabajo"
              required />
          </div>
          <div class="column">
            <label for="empresa" class="label">Nombre de la empresa:</label>
            <input
              class="input"
              type="text"
              placeholder="Empresa..."
              id="empresa"
              name="empresa"
              required />
          </div>
          <div class="column">
            <label for="puesto" class="label">Puesto que desempeña:</label>
            <input
              class="input"
              type="text"
              placeholder="Encargado de ..."
              id="puesto"
              name="puesto"
              required />
          </div>
        </div>
        <br />
        <div class="columns is-vcentered ml-5">
          <div class="column is-one-third">
            <label for="tiempo" class="label">Años en la empresa:</label>
            <input
              class="input"
              type="number"
              placeholder="5"
              id="tiempo"
              name="tiempo"
              required />
          </div>
          <div class="column is-one-third">
            <label for="actividades" class="label">Actividades que realiza:</label>
            <input
              class="input"
              type="text"
              placeholder="Organizar las ..."
              id="actividades"
              name="actividades"
              required />
          </div>
          <div class="column is-one-third">
            <label for="sueldo" class="label">Sueldo que percibe:</label>
            <input
              class="input"
              type="text"
              placeholder="1000 pesos al mes..."
              id="sueldo"
              name="sueldo"
              required />
          </div>
        </div>
        <br />
          <div class="column is-two-thirds ml-5">
            <label for="personal" class="label">Tiene personal a su cargo:</label>
            <div class="select is-link">
            <select class="select" name="personal" id="personal" required>
                <option value="" disabled hidden selected>Seleccione una opción</option>
                <option value="Si">Si</option>
                <option value="No">No</option>
            </select>
          </div>
          </div>
        </div>
        <br />
        <div class="columns">
          <div class="column has-text-centered">
            <button
              class="button has-background-primary has-text-warning ml-6"
              type="submit">
              Continuar
            </button>
          </div>
        </div>
      </form>
    </div>
  </section>
