<style>
  :root {
    --bulma-primary-h: 227deg;
    --bulma-primary-s: 54%;
    --bulma-primary-l: 44%;
    --bulma-link-h: 224deg;
    --bulma-link-s: 84%;
    --bulma-link-l: 20%;
    --bulma-info-h: 216deg;
    --bulma-info-l: 91%;
    --bulma-success-h: 175deg;
  }

  .fullHeight {
    min-height: 140vh;
    margin-top: 20px;
  }
</style>

<section class="section fullHeight has-background-warning">
  <div class="container is-max-desktop">
    <br />
    <h1 class="title is-3 has-text-weight-semibold">Formato de entrevista</h1>
    <div class="interviewFormat columns is-vcentered ml-5"></div>
    <br /><br />
    <h3 class="title is-4 has-text-weight-semibold">Datos Académicos</h3>
    <br />
    <form action="formatoEntrevistaDA" method="POST">
      <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
      <input type="hidden" name="idFormato" value="<%= formato %>" />
      <div class="columns is-vcentered ml-5">
        <div class="column">
          <label for="nombrelicenciatura" class="label"
            >Nombre de la Licenciatura:</label
          >
          <input
            class="input"
            type="text"
            placeholder="Cirujano Dentista"
            id="nombreLicenciatura"
            name="nombreLicenciatura"
            required />
        </div>
        <div class="column">
          <label for="instituto" class="label"
            >Institución de Procedencia:</label
          >
          <input
            class="input"
            type="text"
            placeholder="ITESM"
            id="institucion"
            name="institucion"
            required />
        </div>
        <div class="column">
          <label for="promedio" class="label">Promedio de egreso: </label>
          <input
            class="input"
            type="number"
            placeholder="85"
            id="promedio"
            name="promedio"
            required />
        </div>
      </div>
      <br />
      <div class="columns is-vcentered ml-5">
        <div class="column is-one-third">
          <label for="generacion" class="label">Generación:</label>
          <input
            class="input"
            type="text"
            placeholder="2025"
            id="generacion"
            name="generacion"
            required />
        </div>
        <div class="column is-one-third">
          <label for="gradoMax" class="label">Grado máximo de estudios:</label>
          <input
            class="input"
            type="text"
            placeholder="Licenciatura"
            id="gradoMax"
            name="gradoMax"
            required />
        </div>
        <div class="column is-one-third">
          <label for="maestria" class="label"
            >Maestría o especialidad (en caso de tener):</label
          >
          <input
            class="input"
            type="text"
            placeholder="Maestría en Fisioterapia Deportiva"
            id="maestria"
            name="maestria"
            />
        </div>
      </div>
      <br />
      <div class="columns is-vcentered ml-5">
        <div class="column is-two-thirds">
          <label for="maestriaInstituto" class="label"
            >Institución donde curso la Maestría:</label
          >
          <input
            class="input"
            type="text"
            placeholder="ITESM"
            id="institucionMaestria"
            name="institucionMaestria"
            />
        </div>

        <div class="column is-one-third">
          <label for="promedioMaestria" class="label"
            >Promedio de egreso de la Maestría:</label
          >
          <input
            class="input"
            type="number"
            placeholder="85"
            id="promedioMaestria"
            name="promedioMaestria"
            />
        </div>
      </div>
      <div class="columns ml-5">
        <div class="column is-full">
          <label for="cursos" class="label"
            >Cursos y Diplomados (Escribir los de los últimos tres años):</label
          >
          <input
            class="textarea"
            type="text"
            placeholder="Escribe aquí..."
            id="cursos"
            name="cursos"
            required />
        </div>
      </div>
      <div class="columns ml-5">
        <div class="column is-full">
          <label for="idiomas" class="label">Idiomas que domina:</label>
          <input
            class="textarea"
            type="text"
            placeholder="Escribe aquí..."
            id="idiomas"
            name="idiomas"
            required />
        </div>
      </div>
      <div class="columns has-text-centered">
        <div class="column">
          <button
            class="button has-background-primary has-text-warning ml-6"
            type="submit">
            Continuar
          </button>
        </div>
      </div>
    </form>
  </div>
</section>
