<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>TestInsight DX</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css"
    />
    <link
      rel="stylesheet"
      href="/css/my.css"
    />
  </head>
  <body class="has-background-info-5">
    <section class="section has-background-info">
      <div class="container">
        <h1 class="title">TestInsight DX</h1>
        <br />
      </div>
    </section>
  </body>
</html>
