<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>TestInsight DX</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css" />
  </head>
  <body class="has-background-danger-95">
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <h1 class="title p-5 is-centered">TestInsight DX</h1>

        <a
          role="button"
          class="navbar-burger"
          aria-label="menu"
          aria-expanded="false"
          data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div class="navbar-end">
        <div class="navbar-item">
          <a
            href="/notificaciones_aspirante"
            class="navbar-item button is-danger">
            <img
              src="https://i.pinimg.com/736x/62/77/cf/6277cf8855bacb9d1b435a37edbf1d10.jpg"
              alt="Notificaciones"
              style="max-height: 50px" />
          </a>
          <a href="/documentos_aspirante" class="navbar-item">
            <img
              src="https://i.pinimg.com/736x/32/eb/6e/32eb6ed35c34ab9dfb3f3fcb04559fc9.jpg"
              alt="Documentos"
              style="max-height: 80px" />
          </a>
          <a href="/calendario_aspirante" class="navbar-item">
            <img
              src="https://www.pngarts.com/files/4/Calendar-PNG-Image-Background.png"
              alt="Calendario"
              style="max-height: 50px" />
          </a>
        </div>
      </div>
    </nav>
    <section class="section">
      <div class="container">
        <h1 class="title">¡Bienvenido Arturo!</h1>
        <br />
        <div class="test1 columns is-vcentered ml-5">
          <div class="column">
            <h3 class="subtitle is-4">Prueba OTIS</h3>
          </div>
          <div class="column is-centered">
            <p>Estatus</p>
          </div>
          <div class="column">
            <a href="/instrucciones_prueba">
              <button class="button">Comenzar</button>
            </a>
          </div>
        </div>
        <div class="test2 columns is-vcentered ml-5">
          <div class="column">
            <h3 class="subtitle is-4">Prueba TERMAN</h3>
          </div>
          <div class="column is-centered">
            <p>Estatus</p>
          </div>
          <div class="column">
            <a href="/instrucciones_prueba">
              <button class="button">Comenzar</button>
            </a>
          </div>
        </div>
        <div class="test3 columns is-vcentered ml-5">
          <div class="column">
            <h3 class="subtitle is-4">Test de los Colores de Luscher</h3>
          </div>
          <div class="column is-centered">
            <p>Estatus</p>
          </div>
          <div class="column">
            <a href="/instrucciones_prueba">
              <button class="button">Comenzar</button>
            </a>
          </div>
        </div>
        <div class="test4 columns is-vcentered ml-5">
          <div class="column">
            <h3 class="subtitle is-4">Personalidad 16 Factores (16 PF)</h3>
          </div>
          <div class="column is-centered">
            <p>Estatus</p>
          </div>
          <div class="column">
            <a href="/instrucciones_prueba">
              <button class="button">Comenzar</button>
            </a>
          </div>
        </div>
        <div class="test1 columns is-vcentered ml-5">
          <div class="column">
            <h3 class="subtitle is-4">El inventario de Percepción Kotick</h3>
          </div>
          <div class="column is-centered">
            <p>Estatus</p>
          </div>
          <div class="column">
            <a href="/instrucciones_prueba">
              <button class="button">Comenzar</button>
            </a>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
