<style>
      :root {
        --bulma-primary-h: 227deg;
        --bulma-primary-s: 54%;
        --bulma-primary-l: 44%;
        --bulma-link-h: 224deg;
        --bulma-link-s: 84%;
        --bulma-link-l: 20%;
        --bulma-info-h: 216deg;
        --bulma-info-l: 91%;
        --bulma-success-h: 175deg;
        --bulma-warning-h: 34deg;
        --bulma-warning-l: 99%;
      }

  .fullHeight {
        min-height: 90vh;
        }
      

</style>
    
    <section class="section fullHeight">
      <div class="container mt-5">
        <div class="columns">
          <div class="column">
        <h1 class="title is-1">¡Bienvenido Arturo!</h1>
      </div>
      <div class="column">
<nav class="level-right">
        <div class="level-right">
          <article class="message ">
            <div class="message-header has-background-info ">
              <p class="has-text-link">¡Importante!</p>
            <button class="delete" aria-label="delete"></button>

            </div>
            <div class="message-body">
              Tienes <strong>7 días</strong> para realizar tus pruebas y cargar tu documentación.
            </div>
          </article>
        </div>
      </nav>
    </div>
    </div>
        <% pruebas.forEach(prueba => { %>
        <div class="test1 columns is-vcentered ml-5 mt-3">
            <div class="column">
              <h3 class="subtitle is-4"><%=prueba.nombrePrueba%></h3>
            </div>
            <div class="column is-centered">
              <p>Estatus</p>
            </div>
            <div class="column">
              <a href="instrucciones_prueba/<%=prueba.idPrueba%>">
                <button class="button is-primary has-text-warning">Comenzar</button>
              </a>
            </div>
          </div>
          <%});%>
          
       
    </section>
    <script>
      const deleteButtons = document.querySelectorAll('.delete');
        deleteButtons.forEach(button => {
          button.addEventListener('click', function() {
              const articleToDelete = this.closest('article');
                  articleToDelete.remove();
              
          });
      });
  </script>
