<style>
  .fullHeight {
    min-height: 100vh;
  }
</style>
<body class="has-background-danger-95 fullHeight">
  <section class="section">
    <div class="container">
      <h1 class="title is-1">Prueba</h1>
      <br />
      <div class="is-centered ml-5">
        <h2 class="title is-2">Instrucciones</h2>
        <br />
        <li class="subtitle is-4">Son 75 preguntas de opción múltiple</li>
        <li class="subtitle is-4">Tienes 30 minutos para contestarla</li>
        <li class="subtitle is-4">
          Durante esta prueba no tienes permitido abrir otras pestañas,
          navegadores o aplicaciones.
        </li>
        <br />
        <br />
        <div class="columns is-vcentered">
          <a href="inicio_aspirante">
            <button class="column is-narrow button is-primary has-text-warning">
              Regresar
            </button>
          </a>
          <a href="datos_aspirante">
            <button
              class="column is-narrow button is-primary has-text-warning ml-4">
              Siguiente
            </button></a
          >
        </div>
      </div>
    </div>
  </section>
</body>
