<style>
  .fullHeight {
    min-height: 76.5vh;
  }
</style>
<body class="has-background-danger-95">
  <section class="section fullHeight">
    <div class="container">
      <% if (prueba) { %>
      <h1 class="title is-1"><%=prueba.nombrePrueba%></h1>
      <br />
      <div class="is-centered ml-5">
        <h2 class="title is-2">Instrucciones</h2>
        <br />
        <li class="subtitle is-4"><%=prueba.instrucciones%></li>
        <br />
        <br />
        <div class="columns is-vcentered">
          <a href="/aspirante/inicio">
            <button class="column is-narrow button is-primary has-text-warning">
              Regresar
            </button>
          </a>
          <a href="/aspirante/datos_aspirante">
            <button
              class="column is-narrow button is-primary has-text-warning ml-4">
              Siguiente
            </button></a
          >
        </div>
      </div>
      <%};%>
    </div>
  </section>
</body>
