<style>
  .fullHeight {
    min-height: auto;
    margin-top: 20px;
  }
  .justified {
    text-align: justify;
  }
</style>
<body class="body">
  <section class="section fullHeight has-background-warning">
    <div class="container is-max-tablet">
      <% if (prueba) { %>
      <h1 class="title is-1 has-text-weight-semibold"><%=prueba.nombre%></h1>
      <br />
      <div class="is-centered ml-5">
        <h2 class="title is-3 has-text-weight-semibold">Instrucciones</h2>
        <br />
        <p class="subtitle is-5 justified">
          <%- prueba.instrucciones.replace(/\n/g, '<br />') %>
        </p>
        <br />
        <br />
        <div class="columns is-centered">
          <a href="/aspirante/inicio">
            <button class="column is-narrow button is-primary has-text-warning">
              Regresar
            </button>
          </a>
          <a href="/aspirante/datosAspirante/<%=prueba.idPrueba%>">
            <button
              class="column is-narrow button is-primary has-text-warning ml-6">
              Siguiente
            </button></a
          >
        </div>
        <br />
        <br />
      </div>
      <%};%>
    </div>
  </section>
</body>
