<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>TestInsight DX</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css" />
  </head>
  <body class="has-background-danger-95">
    <section class="section">
      <div class="container">
        <h1 class="title is-1">Prueba </h1>
        <br />
        <div class="is-centered ml-5">
          <h2 class="title is-2">Instrucciones</h2>
          <br>
          <li class="subtitle is-4">Son 75 preguntas de opción múltiple
          </li>
        <li class="subtitle is-4">Tienes 30 minutos para contestarla
        </li>
        <li class="subtitle is-4">Durante esta prueba no tienes permitido abrir otras pestañas, navegadores o aplicaciones.
        </li>
        <li class="subtitle is-4">Tu pantalla se estará grabando durante la prueba</p>
            <br>
            <br>
          <div class="columns is-vcentered ">
            <a href="/inicio_aspirante">
            <button class="column is-narrow button">Regresar</button> </a>
            <a href="/datos_aspirante">
            <button class=" column is-narrow button">Siguiente</button></a>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
