<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>TestInsight DX</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css" />
    <style>
      body {
        background-color: #fffcf8;
        margin: 0;
        padding: 0;
      }
      .loginShapeContainer {
        width: 92%;
        position: relative;
      }
      .mainTitle {
        color: #081f5c;
        font-size: 4rem;
      }
      .shapeLogin {
        position: absolute;
        z-index: 0;
      }
      .loginTitle {
        color: #FFF9F0;
        position: relative;
        margin-left: 17%;
        margin-top: 10%;
      }
      .logoPsicodxContainer{
        width: 55%;
        margin-left: 22%;
      }
      .welcomeTitle{
        font-size: 5.5rem;
      }
      form{
        position: relative;
        margin-left: 19%;
      }
      input, label{
        margin-left: 17%;
      }
      .label{
        color: #FFF9F0;
      }
      .button{
        background-color: #DDDDDC;
        color: black;
      }
      .fullHeight{
        min-height: 100vh;
      }
    </style>
  </head>
  <body >
    <section class="section pt-5 fullHeight">
      <div class="container">
        <h1
          class="mainTitle title is-size-1-mobile has-text-centered has-text-weight-normal">
          TestInsight DX
        </h1>
      </div>
      <div class="columns ">
        <div class="column is-half ">
          <br><br><br><br>
          <figure class="logoPsicodxContainer image mt-6">
            <img src="/images/logoPsicodx.png" alt="logoPsicodx" class="logoPsicodx" />
          </figure>
          <h1 class="welcomeTitle title is-size-1-mobile has-text-centered has-text-weight-normal">¡Bienvenido!</h1>
        </div>
        <div class="column is-half">
          <figure class="loginShapeContainer image is-pulled-right mr-5 mt-3">
            <img src="/images/shapeLogin.png" alt="shapeLogin" class="shapeLogin" />
          </figure>
          <h2
            class="loginTitle title is-2 has-text-weight-normal has-text-centered pt-5">
            Inicia sesión
          </h2>
          <% if (info != '') { %>
            <div class="notification is-info"><%= info %></div>
            <% } %> <% if (warning != '') { %>
            <div class="notification is-warning"><%= warning %></div>
            <% } %>
          <form action="/login"
            method="POST" class="p-5">
            <div class="columns ">
              <div class="column is-two-thirds">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                <label for="usuario" class="label">Nombre de usuario</label>
                <input
                  class="input"
                  type="text"
                  placeholder="AALF031220MMCNRA8"
                  id="usuario"
                  name="usuario" />
                </div>
            </div>
                <br />
                <div class="columns">
                <div class="column is-two-thirds">
                <label for="contraseña" class="label">Contraseña</label>
                <input
                  class="input"
                  type="password"
                  placeholder="*********"
                  id="contraseña"
                  name="contraseña" />
                <br />
              </div>
              </div>
              <input class="button" type="submit" value="Iniciar sesión" />
          </div>
        </div>
      </form>

