<!DOCTYPE html>
<html class="has-navbar-fixed-top">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>TestInsight DX</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

  
    <style>
      :root {
        --bulma-primary-h: 227deg;
        --bulma-primary-s: 54%;
        --bulma-primary-l: 44%;
        --bulma-link-h: 224deg;
        --bulma-link-s: 84%;
        --bulma-link-l: 20%;
        --bulma-info-h: 216deg;
        --bulma-info-l: 91%;
        --bulma-success-h: 175deg;
        --bulma-warning-h: 34deg;
        --bulma-warning-l: 99%;
      }
      
      @media (max-width: 768px) {
        .navbarLogo {
          width: 70px;
          margin-left: 0;
        }
        .titleTD,
        .customDiv {
          display: none;
        }
        .titleTD2 {
          display: block;
        }
        .customDiv2 {
          width: 200px;
        }
      }
      @media (min-width: 770px) {
        .titleTD2 {
          display: none;
        }
        .customDiv,
        .customDiv2 {
          width: 400px;
        }
      }
      .navbar {
        padding-top: 0;
        padding-bottom: 0;
      }
      .titleTD {
        padding: 0 !important;
        height: 100%;
        line-height: normal;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      .navbar-divider-vertical {
        width: 1px; 
        height: 55px; 
        margin-left: 10px; 
        margin-right: 10px;
        margin-top: 20px;
      }
      html,
      body {
        height: 100%; /* Full height for the body */
        margin: 0; /* Remove default margin */
      }
    </style>
  </head>
  <body class="has-background-warning">
    <nav class="navbar has-background-info is-fixed-top">
      <div class="container">
        <div class="navbar-brand">
          <div class="logoContainer navbar-item" href="#">
              <img
                src="/images/logoPsicodx2.png"
                alt="logoPsicodx"
                style="max-height: 70px"
                class="navbarLogo" />
            
            <div class="customDiv2">
              <h1
                class="titleTD2 title has-text-link is-size-4-mobile ml-5 has-text-weight-normal">
                TestInsight DX
              </h1>
            </div>
          </div>
          <div class="customDiv">
            <h1 class="titleTD title has-text-link is-1 has-text-weight-semibold">
              TestInsight DX
            </h1>
          </div>

          <a
            role="button"
            class="navbar-burger"
            aria-label="menu"
            aria-expanded="false"
            data-target="navMenu">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>

        <div id="navMenu" class="navbar-menu">
          <div class="navbar-end">
            <div class="navbar-item has-dropdown is-hoverable">
              <div class="navbar-item">
                <% if (isLoggedIn) { %> <%= usuario %>
              </div>
              <div class="navbar-divider-vertical has-background-link is-hidden-mobile"></div>
              <a class="navbar-link is-hidden-mobile"> Menú </a>

              <div class="navbar-dropdown">
                <a href="documentosAspirante" class="navbar-item">
                  <img
              src="/images/folder.png"
              alt="Notificaciones"
              style="max-height: 15px" />
                  Documentos
                </a>
                <a href="notificacionesAspirante" class="navbar-item">
                  <img
              src="/images/bell.png"
              alt="Notificaciones"
              style="max-height: 15px" 
              class="ml-1"/>
                  Recordatorios
                </a>
                <a href="calendarioAspiranteAuth" class="navbar-item">
                  <img
              src="/images/calendario.png"
              alt="Notificaciones"
              style="max-height: 15px" />
                  Calendario
                </a>
                <hr class="navbar-divider" />

                <a href="/aspirante/cerrar_sesion" class="navbar-item"> Cerrar sesión </a>
              </div>
              <% } %>
            </div>
          </div>
        </div>
      </nav>
        <script type="text/javascript">
          document.addEventListener("DOMContentLoaded", () => {
            const $navbarBurgers = Array.prototype.slice.call(
              document.querySelectorAll(".navbar-burger"),
              0
            );
            $navbarBurgers.forEach((el) => {
              el.addEventListener("click", () => {
                const target = el.dataset.target;
                const $target = document.getElementById(target);
                el.classList.toggle("is-active");
                $target.classList.toggle("is-active");
              });
            });
          });
        </script>
      </div>
    </nav>
  </body>
</html>
