<style>
  .fullHeight {
    min-height: 80vh;
  }
</style>
<section class="section fullHeight">
  <div class="container">
    <div class="test1 columns is-vcentered ml-5">
      <div class="column">
        <li>Aplicación de prueba grupal: 05/03/2025 11:00</li>
        <li>Entrevista individual: 05/03/2025 13:00</li>
        <li>Recuerda subir tu CV</li>
      </div>
    </div>
  </div>
</section>
