<style>
  .fullHeight {
    min-height: 90vh;
    margin-top: 20px;
  }
</style>
<section class="section fullHeight">
  <div class="container">
    <div class="test1 columns is-vcentered ml-5">
      <div class="column">
        <li></li>
      </div>
    </div>
  </div>
</section>
