
  <body class="has-background-danger-95">
    <section class="section">
      <div class="container">
          <li class="subtitle is-4">Pregunta 1:
          </li>
        <li class="subtitle is-4">Tienes 30 minutos para contestarla
        </li>
        <li class="subtitle is-4">Durante esta prueba no tienes permitido abrir otras pestañas, navegadores o aplicaciones.
        </li>
        <li class="subtitle is-4">Tu pantalla se estará grabando durante la prueba</p>
            <br>
            <br>
          <div class="columns is-vcentered ">
            <button class=" column is-narrow button"><a href="/inicio_aspirante">Siguiente</a ></button>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
