<style>
  .fullHeight {
min-height: 76.5vh;
}
</style>
  <body class="has-background-danger-95 fullHeight">
    <section class="section fullHeight">
      <div class="container">
          <p class="subtitle is-2">Pregunta 1:
          </p>
        <p class="subtitle is-3">¿Cuál de las cinco palabras anotadas a continuación expresa lo que es una
          manzana?
        </p>
        <div class="control">
          <label class="radio mx-5 subtitle is-4">
            <input type="radio" name="answer">
            Flor
          </label>
          <label class="radio mx-5 subtitle is-4">
            <input type="radio" name="answer">
            Árbol
          </label>
          <label class="radio mx-5 subtitle is-4">
            <input type="radio" name="answer">
            Vegetal
          </label>
          <label class="radio mx-5 subtitle is-4">
            <input type="radio" name="answer">
            Fruta
          </label>
          <label class="radio mx-5 subtitle is-4">
            <input type="radio" name="answer">
            Animal
          </label>
        </div>
            <button class=" column is-narrow button mt-3"><a href="inicio">Siguiente</a ></button>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
