
  <body class="has-background-danger-95">
    <section class="section">
      <div class="container">
          <li class="subtitle is-4">Pregunta 1:
          </li>
        <p class="subtitle is-4">¿Cuál de las cinco palabras anotadas a continuación expresa lo que es una
          manzana?
        </p>
        <div class="control">
          <label class="radio">
            <input type="radio" name="answer">
            Flor
          </label>
          <label class="radio">
            <input type="radio" name="answer">
            Árbol
          </label>
          <label class="radio">
            <input type="radio" name="answer">
            Vegetal
          </label>
          <label class="radio">
            <input type="radio" name="answer">
            Fruta
          </label>
          <label class="radio">
            <input type="radio" name="answer">
            Animal
          </label>
        </div>
            <button class=" column is-narrow button mt-3"><a href="/inicio_aspirante">Siguiente</a ></button>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
