<style>
  .fullHeight {
    min-height: 90vh;
    margin-top: 20px;
  }
</style>
<section class="section has-background-warning fullHeight">
  <div class="container" style="width: 60%">
    <div class="columns">
      <div class="column">
        <h1 class="title has-text-weight-semibold">
          Reporte - <%= aspirante.nombres%> <%= aspirante.apellidoPaterno%> <%=
          aspirante.apellidoMaterno%>
        </h1>
        <!-- Registrar reporte y consultar reporte-->
      </div>
    </div>
  </div>
</section>
