<div class="tree">
    <ul>
        <li>
            <div class="family">
                <div class="person">
                    <div class="name">Abuelo Materno</div>
                    <div class="column is-two-thirds">
                        <input class="input superior" type="text" placeholder="Nombre" id="freetime" name="freetime" />
                    </div>
                    <div class="select is-danger familiar">
                        <select class="age-select">
                            <option disabled hidden selected>Edad</option>
                        </select>
                    </div><br>
                    <div class="select is-danger familiar">
                        <select class="gender">
                            <option disabled hidden selected>Género</option>
                        </select>
                    </div><br>
                    <div class="select is-danger familiar">
                        <select class="maritalStatus">
                            <option disabled hidden selected>Estado Civil</option>
                        </select>
                    </div>
                    <div class="column is-three-thirds">
                        <input class="input inferior" type="text" placeholder="Relacion con el aspirante" id="freetime" name="freetime" />
                    </div>
                </div>
                <div class="parent">
                    <div class="person spouse">
                        <div class="name">Abuela Materna</div>
                        <div class="column is-two-thirds">
                            <input class="input superior" type="text" placeholder="Nombre" id="freetime" name="freetime" />
                        </div>
                        <div class="select is-danger familiar">
                            <select class="age-select">
                                <option disabled hidden selected>Edad</option>
                            </select>
                        </div><br>
                        <div class="select is-danger familiar">
                            <select class="gender">
                                <option disabled hidden selected>Género</option>
                            </select>
                        </div><br>
                        <div class="select is-danger familiar">
                            <select class="maritalStatus">
                                <option disabled hidden selected>Estado Civil</option>
                            </select>
                        </div>
                        <div class="column is-three-thirds">
                            <input class="input inferior" type="text" placeholder="Relacion con el aspirante" id="freetime" name="freetime" />
                        </div>
                    </div>
                    <ul>
                        <li>
                            <div class="person child">
                                <div class="name">Tío(a)</div>
                                
                            </div>
                        </li>
                        <li>
                            <div class="person child">
                                <div class="name">Tío(a)</div>
                                
                            </div>
                        </li>
                        <li>
                            <div class="person child">
                                <div class="name">Tío(a)</div>
                                
                            </div>
                        </li>
                        <li>
                            <div class="family" style="width: 344px">
                                <div class="person">
                                    <div class="name">Madre</div>
                                    <div class="column is-two-thirds">
                                        <input class="input superior" type="text" placeholder="Nombre" id="freetime" name="freetime" />
                                    </div>
                                    <div class="select is-danger familiar">
                                        <select class="age-select">
                                            <option disabled hidden selected>Edad</option>
                                        </select>
                                    </div><br>
                                    <div class="select is-danger familiar">
                                        <select class="gender">
                                            <option disabled hidden selected>Género</option>
                                        </select>
                                    </div><br>
                                    <div class="select is-danger familiar">
                                        <select class="maritalStatus">
                                            <option disabled hidden selected>Estado Civil</option>
                                        </select>
                                    </div>
                                    <div class="column is-three-thirds">
                                        <input class="input inferior" type="text" placeholder="Relacion con el aspirante" id="freetime" name="freetime" />
                                    </div>
                                </div>
                                <div class="parent">
                                    <div class="person spouse">
                                        <div class="name">Padre</div>
                                        <div class="column is-two-thirds">
                                            <input class="input superior" type="text" placeholder="Nombre" id="freetime" name="freetime" />
                                        </div>
                                        <div class="select is-danger familiar">
                                            <select class="age-select">
                                                <option disabled hidden selected>Edad</option>
                                            </select>
                                        </div><br>
                                        <div class="select is-danger familiar">
                                            <select class="gender">
                                                <option disabled hidden selected>Género</option>
                                            </select>
                                        </div><br>
                                        <div class="select is-danger familiar">
                                            <select class="maritalStatus">
                                                <option disabled hidden selected>Estado Civil</option>
                                            </select>
                                        </div>
                                        <div class="column is-three-thirds">
                                            <input class="input inferior" type="text" placeholder="Relacion con el aspirante" id="freetime" name="freetime" />
                                        </div>
                                    </div>
                                    <ul>
                                        <li>
                                            <div class="person child">
                                                <div class="name">Hermano(a)</div>
                                                <div class="column is-two-thirds">
                                                    <input class="input superior" type="text" placeholder="Nombre" id="freetime" name="freetime" />
                                                </div>
                                                <div class="select is-danger familiar">
                                                    <select class="age-select">
                                                        <option disabled hidden selected>Edad</option>
                                                    </select>
                                                </div><br>
                                                <div class="select is-danger familiar">
                                                    <select class="gender">
                                                        <option disabled hidden selected>Género</option>
                                                    </select>
                                                </div><br>
                                                <div class="select is-danger familiar">
                                                    <select class="maritalStatus">
                                                        <option disabled hidden selected>Estado Civil</option>
                                                    </select>
                                                </div>
                                                <div class="column is-three-thirds">
                                                    <input class="input inferior" type="text" placeholder="Relacion con el aspirante" id="freetime" name="freetime" />
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="person child">
                                                <div class="name">Hermano(a)</div>
                                                <div class="column is-two-thirds">
                                                    <input class="input superior" type="text" placeholder="Nombre" id="freetime" name="freetime" />
                                                </div>
                                                <div class="select is-danger familiar">
                                                    <select class="age-select">
                                                        <option disabled hidden selected>Edad</option>
                                                    </select>
                                                </div><br>
                                                <div class="select is-danger familiar">
                                                    <select class="gender">
                                                        <option disabled hidden selected>Género</option>
                                                    </select>
                                                </div><br>
                                                <div class="select is-danger familiar">
                                                    <select class="maritalStatus">
                                                        <option disabled hidden selected>Estado Civil</option>
                                                    </select>
                                                </div>
                                                <div class="column is-three-thirds">
                                                    <input class="input inferior" type="text" placeholder="Relacion con el aspirante" id="freetime" name="freetime" />
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="person child">
                                                <div class="name">Hermano(a)</div>
                                                <div class="column is-two-thirds">
                                                    <input class="input superior" type="text" placeholder="Nombre" id="freetime" name="freetime" />
                                                </div>
                                                <div class="select is-danger familiar">
                                                    <select class="age-select">
                                                        <option disabled hidden selected>Edad</option>
                                                    </select>
                                                </div><br>
                                                <div class="select is-danger familiar">
                                                    <select class="gender">
                                                        <option disabled hidden selected>Género</option>
                                                    </select>
                                                </div><br>
                                                <div class="select is-danger familiar">
                                                    <select class="maritalStatus">
                                                        <option disabled hidden selected>Estado Civil</option>
                                                    </select>
                                                </div>
                                                <div class="column is-three-thirds">
                                                    <input class="input inferior" type="text" placeholder="Relacion con el aspirante" id="freetime" name="freetime" />
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="person">
                                                <div class="name">Aspirante</div>
                                                <div class="column is-two-thirds">
                                                    <input class="input superior" type="text" placeholder="Nombre" id="freetime" name="freetime" />
                                                </div>
                                                <div class="select is-danger familiar">
                                                    <select class="age-select">
                                                        <option disabled hidden selected>Edad</option>
                                                    </select>
                                                </div><br>
                                                <div class="select is-danger familiar">
                                                    <select class="gender">
                                                        <option disabled hidden selected>Género</option>
                                                    </select>
                                                </div><br>
                                                <div class="select is-danger familiar">
                                                    <select class="maritalStatus">
                                                        <option disabled hidden selected>Estado Civil</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="person spouse">
                                                <div class="name">Pareja del Aspirante</div>
                                                <div class="column is-two-thirds">
                                                    <input class="input superior" type="text" placeholder="Nombre" id="freetime" name="freetime" />
                                                </div>
                                                <div class="select is-danger familiar">
                                                    <select class="age-select">
                                                        <option disabled hidden selected>Edad</option>
                                                    </select>
                                                </div><br>
                                                <div class="select is-danger familiar">
                                                    <select class="gender">
                                                        <option disabled hidden selected>Género</option>
                                                    </select>
                                                </div><br>
                                                <div class="select is-danger familiar">
                                                    <select class="maritalStatus">
                                                        <option disabled hidden selected>Estado Civil</option>
                                                    </select>
                                                </div>
                                                <div class="column is-three-thirds">
                                                    <input class="input inferior" type="text" placeholder="Relacion con el aspirante" id="freetime" name="freetime" />
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </li>
        <li>
            <div class="family">
                <div class="person">
                    <div class="name">Abuelo Paterno</div>
                    <div class="column is-two-thirds">
                        <input class="input superior" type="text" placeholder="Nombre" id="freetime" name="freetime" />
                    </div>
                    <div class="select is-danger familiar">
                        <select class="age-select">
                            <option disabled hidden selected>Edad</option>
                        </select>
                    </div><br>
                    <div class="select is-danger familiar">
                        <select class="gender">
                            <option disabled hidden selected>Género</option>
                        </select>
                    </div><br>
                    <div class="select is-danger familiar">
                        <select class="maritalStatus">
                            <option disabled hidden selected>Estado Civil</option>
                        </select>
                    </div>
                    <div class="column is-three-thirds">
                        <input class="input inferior" type="text" placeholder="Relacion con el aspirante" id="freetime" name="freetime" />
                    </div>
                </div>
                <div class="parent">
                    <div class="person spouse">
                        <div class="name">Abuela Paterna</div>
                        <div class="column is-two-thirds">
                            <input class="input superior" type="text" placeholder="Nombre" id="freetime" name="freetime" />
                        </div>
                        <div class="select is-danger familiar">
                            <select class="age-select">
                                <option disabled hidden selected>Edad</option>
                            </select>
                        </div><br>
                        <div class="select is-danger familiar">
                            <select class="gender">
                                <option disabled hidden selected>Género</option>
                            </select>
                        </div><br>
                        <div class="select is-danger familiar">
                            <select class="maritalStatus">
                                <option disabled hidden selected>Estado Civil</option>
                            </select>
                        </div>
                        <div class="column is-three-thirds">
                            <input class="input inferior" type="text" placeholder="Relacion con el aspirante" id="freetime" name="freetime" />
                        </div>
                    </div>
                    <ul>
                        <li>
                            <div class="person child">
                                <div class="name">Tío(a)</div>
                                
                            </div>
                        </li>
                        <li>
                            <div class="person child">
                                <div class="name">Tío(a)</div>
                                
                            </div>
                        </li>
                        <li>
                            <div class="person child">
                                <div class="name">Tío(a)</div>
                                
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </li>
    </ul>
</div>
</div>