<%- include('includes/_header')%>
<section>
  <h1>Confirmar Creación de Grupo</h1>
  <p>
    Grupo: Maestría en Diseño Multimedia con orientación en Aplicaciones Web y
    Móviles. <br />
    Generación: Ene-Jun 2025 <br />
    Total de aspirantes: 8
  </p>
  <a href="crear_grupo"
    ><button class="button m-5 is-danger">Confirmar</button></a
  >
</section>

<%- include('includes/_footer')%>
