<%- include('includes/_navbarP')%>
<style>
  .fullHeight {
    min-height: 100vh;
  }
</style>
<section class="section fullHeight">
  <h1>Confirmar Creación de Grupo</h1>
  <p>
    Grupo: Maestría en Diseño Multimedia con orientación en Aplicaciones Web y
    Móviles. <br />
    Generación: Ene-Jun 2025 <br />
    Total de aspirantes: 8
  </p>

  <div class="buttons is-centered">
    <a href="crear_grupo"
      ><button class="button m-5 is-primary has-text-white">Regresar</button></a
    >
    <a href="inicio_psicologa"
      ><button class="button m-5 is-primary has-text-white">
        Confirmar
      </button></a
    >
  </div>
</section>

<%- include('includes/_footer')%>
