<%- include('includes/_header')%>
<head>
  <style>
    table {
      width: 100%;
      border-collapse: collapse;
      margin: 20px 0;
      font-size: 18px;
      text-align: left;
      border-radius: 8px;
      overflow: hidden;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    th,
    td {
      padding: 12px;
      border-bottom: 1px solid #ddd;
    }

    th {
      background-color: #007bff;
      color: white;
      text-transform: uppercase;
    }

    tr:nth-child(even) {
      background-color: #f2f2f2;
    }

    tr:hover {
      background-color: #ddd;
    }

    @media (max-width: 768px) {
      table {
        font-size: 14px;
      }
      th,
      td {
        padding: 10px;
      }
    }
  </style>
</head>
<section>
  <h1>Aspirantes</h1>
  <img
    src="https://cdn-icons-png.flaticon.com/512/25/25337.png"
    style="width: 5%"
  />
</section>

<section>
  <table>
    <thead>
      <tr>
        <th>Prueba</th>
        <th>Fecha</th>
        <th>Tiempo</th>
        <th>Estatus</th>
        <th>Respuestas</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <th>Prueba OTIS</th>
        <th>21/02/2025</th>
        <th>29:35 min</th>
        <th>Completada</th>
        <th>
          <a href="consulta_respuestas_aspirante">
            <button class="image-button">
              <img
                src="https://img.icons8.com/ios7/512/plus.png"
                alt=""
                style="width: 10%"
              /></button
          ></a>
        </th>
      </tr>
      <tr>
        <th>Prueba TERMAN</th>
        <th>27/02/2025</th>
        <th>-</th>
        <th>Pendiente</th>
        <th>
          <a href="consulta_respuestas_aspirante">
            <button class="image-button">
              <img
                src="https://img.icons8.com/ios7/512/plus.png"
                alt=""
                style="width: 10%"
              /></button
          ></a>
        </th>
      </tr>
      <tr>
        <th>Test de los colores de Lusher</th>
        <th>27/02/2025</th>
        <th>-</th>
        <th>Pendiente</th>
        <th>
          <a href="consulta_respuestas_aspirante">
            <button class="image-button">
              <img
                src="https://img.icons8.com/ios7/512/plus.png"
                alt=""
                style="width: 10%"
              /></button
          ></a>
        </th>
      </tr>
      <tr>
        <th>Personalidad 16 Factores</th>
        <th>27/02/2025</th>
        <th>-</th>
        <th>Pendiente</th>
        <th>
          <a href="consulta_respuestas_aspirante">
            <button class="image-button">
              <img
                src="https://img.icons8.com/ios7/512/plus.png"
                alt=""
                style="width: 10%"
              /></button
          ></a>
        </th>
      </tr>
    </tbody>
  </table>
</section>

<%- include('includes/_footer')%>
