<%- include('includes/_navbarP')%>
<style>
  .fullHeight {
    min-height: 76.5vh;
  }
</style>
<body class="fullHeight">
  <h1>Respuestas del Aspirante</h1>
  <h2>Prueba:</h2>
  <%- include('includes/_footer')%>
</body>
