<%- include('includes/_navbarP')%>

<body class="fullHeight">
  <section class="section">
    <div class="title">Aspirante</div>

    <div class="columns">
      <div class="column"></div>
      <div class="column"></div>
      <div class="column"></div>
      <div class="column"></div>
      <div class="column is-1">
        <a href="registra_reporte/:id">
          <button class="image-button" method="GET">
            <img
              src="https://cdn-icons-png.flaticon.com/512/1828/1829031.png"
              alt=""
              width="20px"
            /></button
        ></a>
      </div>
      <div class="column is-1">
        <a href="modifica_grupo">
          <button class="image-button">
            <img
              src="https://cdn-icons-png.flaticon.com/512/764/764599.png"
              alt=""
              width="20px"
            /></button
        ></a>
      </div>
    </div>
  </section>

  <section>
    <div class="container is-align-items-center">
      <div class="field has-addons">
        <div class="control">
          <input id="barra_buscar" name="barra_buscar" class="input" type="text" placeholder="Ingresa el parámetro" autocomplete="off">
        </div>
      </div>

      <div id="suggestions-container" class="suggestions-container" style="display: none;">
      </div>
    </div>
<div style="display: flex; justify-content: center; margin-top: 20px;">
    <table id="datos-aspirante" class="table">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Codigo de Identidad</th>
          <th>Teléfono</th>
          <th>Lugar de Origen</th>
          <th>Correo</th>
          <th>Universidad de Procedencia</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
  <br><br><br>

    <!--
      <table class="table">
        <thead>
          <tr>
            <th>Prueba</th>
            <th>Fecha</th>
            <th>Tiempo</th>
            <th>Estatus</th>
            <th>Respuestas</th>
          </tr>
        </thead>
  
        <tbody>
          <tr>
            <th>Prueba OTIS</td>
            <td>21/02/2025</td>
            <td>29:35 min</td>
            <td>Completada</td>
            <td>
              <a href="consulta_respuestas_aspirante">
                <button class="image-button">
                  <img
                    src="https://img.icons8.com/ios7/512/plus.png"
                    alt=""
                    width="25px"
                  /></button
              ></a>
            </td>
          </tr>
          <tr>
            <th>Prueba TERMAN</th>
            <td>27/02/2025</td>
            <td>-</td>
            <td>Pendiente</td>
            <td>
              <a href="consulta_respuestas_aspirante">
                <button class="image-button">
                  <img
                    src="https://img.icons8.com/ios7/512/plus.png"
                    alt=""
                    width="25px"
                  /></button
              ></a>
            </td>
          </tr>
          <tr>
            <th>Test de los colores de Lusher</td>
            <td>27/02/2025</td>
            <td>-</td>
            <td>Pendiente</td>
            <td>
              <a href="consulta_respuestas_aspirante">
                <button class="image-button">
                  <img
                    src="https://img.icons8.com/ios7/512/plus.png"
                    alt=""
                    width="25px"
                  /></button
              ></a>
            </ttdh>
          </tr>
          <tr>
            <th>Personalidad 16 Factores</td>
            <td>27/02/2025</td>
            <td>-</td>
            <td>Pendiente</td>
            <td>
              <a href="consulta_respuestas_aspirante">
                <button class="image-button">
                  <img
                    src="https://img.icons8.com/ios7/512/plus.png"
                    alt=""
                    width="25px"
                  /></button
              ></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    -->
  </section>

  <script>
    const buscar = document.getElementById('barra_buscar');
    const suggestionsContainer = document.getElementById('suggestions-container');
  
    buscar.addEventListener('input', function() {
      const query = buscar.value.trim();
  
      if (query.length > 0) {
        fetch('/psicologa/buscar/' + query, {
          method: 'GET',
        })
        .then((result) => result.json())
        .then((data) => {
          suggestionsContainer.innerHTML = ''; // Clear previous suggestions
  
          const filteredAspirantes = data.aspirantes.filter(aspirante => {
            return (
              aspirante.nombres.toLowerCase().includes(query.toLowerCase()) ||
              aspirante.apellidoPaterno.toLowerCase().includes(query.toLowerCase()) ||
              aspirante.apellidoMaterno.toLowerCase().includes(query.toLowerCase()) ||
              aspirante.codigoIdentidad.toLowerCase().includes(query.toLowerCase()) ||
              aspirante.correo.toLowerCase().includes(query.toLowerCase())
            );
          });
  
          filteredAspirantes.forEach(aspirante => {
            const suggestion = document.createElement('div');
            suggestion.classList.add('suggestion-item');
            suggestion.innerHTML = `${aspirante.nombres} ${aspirante.apellidoPaterno} ${aspirante.apellidoMaterno}`;
            suggestion.onclick = () => {
              const tableBody = document.getElementById('datos-aspirante').getElementsByTagName('tbody')[0];
              tableBody.innerHTML = '';
              const row = tableBody.insertRow();
              const nombreAspirante = row.insertCell(0);
              const codigoIdentidadAspirante = row.insertCell(1);
              const telefonoAspirante = row.insertCell(2);
              const lugarOrigenAspirante = row.insertCell(3);
              const correoAspirante = row.insertCell(4);
              const universidadAspirante = row.insertCell(5);
              
              nombreAspirante.textContent = aspirante.nombres, " ", aspirante.apellidoPaterno, " ", aspirante.apellidoMaterno;
              codigoIdentidadAspirante.textContent = aspirante.codigoIdentidad;
              telefonoAspirante.textContent = aspirante.numTelefono;
              lugarOrigenAspirante.textContent = aspirante.lugarOrigen;
              correoAspirante.textContent = aspirante.correo;
              universidadAspirante.textContent = aspirante.universidadOrigen;
  
              suggestionsContainer.style.display = 'none';
            };
            suggestionsContainer.appendChild(suggestion);
          });
  
          if (filteredAspirantes.length > 0) {
            suggestionsContainer.style.display = 'block';
          } else {
            suggestionsContainer.style.display = 'none';
          }
        })
        .catch((error) => {
          console.log(error);
        });
      } else {
        suggestionsContainer.style.display = 'none';
      }
    });
  
    document.addEventListener('click', function(event) {
      if (!suggestionsContainer.contains(event.target) && event.target !== buscar) {
        suggestionsContainer.style.display = 'none';
      }
    });
  </script>
  
  <style>
  .suggestions-container {
    position: absolute;
    top: 100%;
    left: 0;
    border: 1px solid #ddd;
    max-height: 200px;
    overflow-y: auto;
    background-color: white;
    z-index: 10;
    border-radius: 5px;
  }

  .suggestion-item {
    padding: 8px;
    cursor: pointer;
  }

  .suggestion-item:hover {
    background-color: #f0f0f0;
  }

  .suggestion-item a {
    text-decoration: none;
    color: black;
  }

  .container {
    position: relative;
  }
</style>

  <%- include('includes/_footer')%>
</body>
