<%- include('includes/_navbarP')%>
<style>
  .fullHeight {
    min-height: 90vh;
    margin-top: 20px;
  }
</style>
<body class="fullHeight">
  <h1>Respuestas del Grupo</h1>
  <h2>Prueba:</h2>
  <%- include('includes/_footer')%>
</body>
