<%- include('includes/_navbarP')%>
<style>
  .fullHeight {
    min-height: 90vh;
    margin-top: 20px;
  }
</style>
<div class="section fullHeight">
  <div class="container is-max-desktop mt-5">
    <div class="title has-text-weight-semibold mb-2">
      Respuestas del Aspirante
    </div>
    <div class="subtitle">Prueba:</div>
    <%- include('includes/_footer')%>
  </div>
</div>
