<%- include('includes/_navbarP')%>

<body class="fullHeight">
  <section class="section has-background-warning">
    <div class="container is-max-tablet">
    <div class="title is-1 has-text-weight-semibold mt-3">Aspirantes</div>

    <div>
      <a
        href="consultaRespuestasAspirante/2e5dd5a1-d11e-4f16-9e14-86e63adce6e1/5"
      >
        <button class="image-button">
          <img
            src="https://img.icons8.com/ios7/512/plus.png"
            alt=""
            width="25px"
          /></button
      ></a>
    </div>

    <div class="columns">
      <div class="column"></div>
      <div class="column"></div>
      <div class="column"></div>
      <div class="column"></div>
      <div class="column is-1">
        <a href="registra_reporte/:id">
          <button class="image-button" method="GET">
            <img
              src="https://cdn-icons-png.flaticon.com/512/1828/1829031.png"
              alt=""
              width="20px" /></button
        ></a>
      </div>
    </div>
  </section>

  <section>
    <div class="container is-align-items-center">
      <div class="field has-addons">
        <div
          class="control"
          style="position: relative; left: 50%; transform: translateX(-50%)">
          <input
            id="barra_buscar"
            name="barra_buscar"
            class="input is-primary is-focused is-medium"
            type="text"
            placeholder="Ingresa el parámetro"
            autocomplete="off" />
        </div>
      </div>

      <div
        id="contenedor-Sugerencias"
        class="contenedor-Sugerencias"
        style="display: none ; z-index: 20;"></div>
    </div>
    <div
      class="contenedorDatos"
      style="display: flex; justify-content: center; margin-top: 20px;  font-size: 1.1em;">
      <table id="datos-aspirante" class="table is-striped is-narrow">
        <thead style="position: sticky; top: 0; z-index: 10;">
          <tr class="is-info">
            <th>Nombre</th>
            <th>Codigo de Identidad</th>
            <th>Teléfono</th>
            <th>Lugar de Origen</th>
            <th>Correo</th>
            <th>Universidad de Procedencia</th>
            <th class="has-text-centered">Modificar</th>
            <th class="has-text-centered">Documentos</th>
            <th class="has-text-centered">Eliminar</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
    <br /><br /><br />

    <div style="display: flex; justify-content: center; margin-top: 20px; font-size: 1.2em;">
      <table id="pruebas-aspirante" class="table is-striped">
        <thead>
          <tr class="is-info">
            <th>Prueba</th>
            <th>Fecha Límite</th>
            <th>Tiempo</th>
            <th>Estatus</th>
            <th>Respuestas</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
  </div>
  </section>

  <script>
    function mostrarPruebas(aspirante) {
      const tableBody = document
        .getElementById("datos-aspirante")
        .getElementsByTagName("tbody")[0];
      tableBody.innerHTML = "";
      const row = tableBody.insertRow();
      const nombreAspirante = row.insertCell(0);
      const codigoIdentidadAspirante = row.insertCell(1);
      const telefonoAspirante = row.insertCell(2);
      const lugarOrigenAspirante = row.insertCell(3);
      const correoAspirante = row.insertCell(4);
      const universidadAspirante = row.insertCell(5);
      const modificarAspirante = row.insertCell(6);
      const documentos = row.insertCell(7);
      const eliminar = row.insertCell(8);

      nombreAspirante.textContent =
        aspirante.nombres +
        " " +
        aspirante.apellidoPaterno +
        " " +
        aspirante.apellidoMaterno;
      codigoIdentidadAspirante.textContent = aspirante.codigoIdentidad;
      telefonoAspirante.textContent = aspirante.numTelefono;
      lugarOrigenAspirante.textContent = aspirante.lugarOrigen;
      correoAspirante.textContent = aspirante.correo;
      universidadAspirante.textContent = aspirante.universidadOrigen;
      modificarAspirante.innerHTML = `
        <a href="modificarAspirante/${aspirante.idUsuario}">
          <button class="image-button">
            <img
              src="https://cdn-icons-png.flaticon.com/512/764/764599.png"
              alt=""
              width="20px" /></button
        > </a>`;
      documentos.innerHTML = `<a href="reporteAspirante/${aspirante.idUsuario}">
        <button class="image-button">
          <i class="fa-regular fa-file" style="color: #000000;"></i>
          </button></a>`;

      //"https://png.pngtree.com/png-clipart/20240830/original/pngtree-an-x-in-the-middle-of-a-white-circle-vector-png-image_15892532.png"
      eliminar.innerHTML = `<a href="aspirante/confirmacion/${aspirante.idUsuario}">
        <button class="image-button">
                      <img
              src="https://png.pngtree.com/png-clipart/20240830/original/pngtree-an-x-in-the-middle-of-a-white-circle-vector-png-image_15892532.png"
              alt=""
              width="20px" />
          </button></a>`;
      contenedorSugerencias.style.display = "none";
      pruebas = document.getElementById("pruebas-aspirante");
      bodyPrueba = document
        .getElementById("pruebas-aspirante")
        .getElementsByTagName("tbody")[0];
      pruebas.style.display = "";
      bodyPrueba.innerHTML = "";
      fetch("/psicologa/pruebasActivas/" + aspirante.idUsuario, {
        method: "GET",
      })
        .then((result) => result.json())
        .then((data) => {
          for (let prueba of data.pruebas) {
            const filaPrueba = bodyPrueba.insertRow();
            const nombrePrueba = filaPrueba.insertCell(0);
            const fechaPrueba = filaPrueba.insertCell(1);
            const tiempoPrueba = filaPrueba.insertCell(2);
            const estatusPrueba = filaPrueba.insertCell(3);
            const respuestasPrueba = filaPrueba.insertCell(4);

            fechaPrueba.textContent = prueba.fecha;
            estatusPrueba.textContent = prueba.estatus;
            if (prueba.idPrueba == 1) {
              fetch("/psicologa/kostickActiva/" + aspirante.idUsuario, {
                method: "GET",
              })
                .then((result) => result.json())
                .then((data) => {
                  nombrePrueba.textContent = "Kostick";
                  tiempoPrueba.textContent = data.kostickTiempo.tiempo + " hrs";
                  respuestasPrueba.innerHTML = `<a href="consultaRespuestasAspirante/${aspirante.idUsuario}/1">
                                            <button class="image-button">
                                              <img
                                                src="https://img.icons8.com/ios7/512/plus.png"
                                                alt=""
                                                width="25px"
                                              /></button
                                          ></a>`;
                });
            } else if (prueba.idPrueba == 2) {
              fetch("/psicologa/P16PFActiva/" + aspirante.idUsuario, {
                method: "GET",
              })
                .then((result) => result.json())
                .then((data) => {
                  nombrePrueba.textContent = "16PF";
                  tiempoPrueba.textContent = data.P16PFTiempo.tiempo + " hrs";
                  respuestasPrueba.innerHTML = `<a href="consultaRespuestasAspirante/${aspirante.idUsuario}/2">
                                            <button class="image-button">
                                              <img
                                                src="https://img.icons8.com/ios7/512/plus.png"
                                                alt=""
                                                width="25px"
                                              /></button
                                          ></a>`;
                });
            } else if (prueba.idPrueba === 6) {
                nombrePrueba.textContent = "Colores de Lüscher";
                tiempoPrueba.textContent = "N/A";
                respuestasPrueba.innerHTML = `<a href="consultaRespuestasColoresAspirante/${aspirante.idUsuario}/6">
                                            <button class="image-button">
                                              <img
                                                src="https://img.icons8.com/ios7/512/plus.png"
                                                alt=""
                                                width="25px"
                                              /></button
                                          ></a>`;
              
            } else if(prueba.idPrueba == 3){
              fetch("/psicologa/hartmanActiva/"+ aspirante.idUsuario, {
                method: "GET",
              }).then((result) => result.json())
                .then((data) => {
                  console.log(data);
                  nombrePrueba.textContent = "Hartman";
                  tiempoPrueba.textContent = data.hartmanTiempo.tiempo + " hrs";
                  respuestasPrueba.innerHTML = `<a href="consultaRespuestasAspirante/${aspirante.idUsuario}/3">
                                            <button class="image-button">
                                              <img
                                                src="https://img.icons8.com/ios7/512/plus.png"
                                                alt=""
                                                width="25px"
                                              /></button
                                          ></a>`;
                });
            }



          }
        });
    }
  </script>

  <script>
    function aspirantesCompletos() {
      fetch("/psicologa/buscar/", {
        method: "GET",
      })
        .then((result) => result.json())
        .then((data) => {
          const aspirantes = data.aspirantes;

          const tableBody = document
            .getElementById("datos-aspirante")
            .getElementsByTagName("tbody")[0];

          tableBody.innerHTML = "";

          aspirantes.forEach((aspirante) => {
            const row = tableBody.insertRow();

            const nombreAspirante = row.insertCell(0);
            const codigoIdentidadAspirante = row.insertCell(1);
            const telefonoAspirante = row.insertCell(2);
            const lugarOrigenAspirante = row.insertCell(3);
            const correoAspirante = row.insertCell(4);
            const universidadAspirante = row.insertCell(5);
            const modificarAspirante = row.insertCell(6);
            const documentos = row.insertCell(7);
            const eliminar = row.insertCell(8);

            nombreAspirante.textContent = `${aspirante.nombres} ${aspirante.apellidoPaterno} ${aspirante.apellidoMaterno}`;
            codigoIdentidadAspirante.textContent = aspirante.codigoIdentidad;
            telefonoAspirante.textContent = aspirante.numTelefono;
            lugarOrigenAspirante.textContent = aspirante.lugarOrigen;
            correoAspirante.textContent = aspirante.correo;
            universidadAspirante.textContent = aspirante.universidadOrigen;

            nombreAspirante.style.cursor = "pointer";
            nombreAspirante.onclick = () => {
              mostrarPruebas(aspirante);
            };

            modificarAspirante.innerHTML = `
          <a href="modificarAspirante/${aspirante.idUsuario}">
            <button class="image-button">
              <img
                src="https://cdn-icons-png.flaticon.com/512/764/764599.png"
                alt="Modificar"
                width="20px" />
            </button>
          </a>
        `;

            documentos.innerHTML = `
          <a href="reporteAspirante/${aspirante.idUsuario}">
            <button class="image-button">
              <i class="fa-regular fa-file" style="color: #000000;"></i>
            </button>
          </a>
        `;
            eliminar.innerHTML = `<a href="aspirante/confirmacion/${aspirante.idUsuario}">
        <button class="image-button">
                      <img
              src="https://png.pngtree.com/png-clipart/20240830/original/pngtree-an-x-in-the-middle-of-a-white-circle-vector-png-image_15892532.png"
              alt=""
              width="20px" />
          </button></a>`;
          });
        })
        .catch((error) => {
          console.error("Error al cargar aspirantes:", error);
        });
      const pruebas = document.getElementById("pruebas-aspirante");
      pruebas.style.display = "none";
    }
  </script>

  <script>
    aspirantesCompletos();
    const buscar = document.getElementById("barra_buscar");
    const contenedorSugerencias = document.getElementById(
      "contenedor-Sugerencias"
    );

    buscar.addEventListener("input", function () {
      const query = buscar.value.trim();

      if (query.length > 0) {
        fetch("/psicologa/buscar/" + query, {
          method: "GET",
        })
          .then((result) => result.json())
          .then((data) => {
            contenedorSugerencias.innerHTML = "";

            const aspirantesFiltrados = data.aspirantes.filter((aspirante) => {
              return (
                aspirante.nombres.toLowerCase().includes(query.toLowerCase()) ||
                aspirante.apellidoPaterno
                  .toLowerCase()
                  .includes(query.toLowerCase()) ||
                aspirante.apellidoMaterno
                  .toLowerCase()
                  .includes(query.toLowerCase()) ||
                aspirante.codigoIdentidad
                  .toLowerCase()
                  .includes(query.toLowerCase()) ||
                aspirante.correo.toLowerCase().includes(query.toLowerCase())
              );
            });

            aspirantesFiltrados.forEach((aspirante) => {
              const sugerencia = document.createElement("div");
              sugerencia.classList.add("sugerencia-item");
              sugerencia.innerHTML = `${aspirante.nombres} ${aspirante.apellidoPaterno} ${aspirante.apellidoMaterno}`;
              sugerencia.onclick = () => {
                mostrarPruebas(aspirante);
              };
              contenedorSugerencias.appendChild(sugerencia);
            });

            if (aspirantesFiltrados.length > 0) {
              contenedorSugerencias.style.display = "block";
            } else {
              contenedorSugerencias.style.display = "none";
            }
          })
          .catch((error) => {
            console.log(error);
          });
      } else {
        contenedorSugerencias.style.display = "none";
        aspirantesCompletos();
      }
    });

    document.addEventListener("click", function (event) {
      if (
        !contenedorSugerencias.contains(event.target) &&
        event.target !== buscar
      ) {
        contenedorSugerencias.style.display = "none";
      }
    });
  </script>

  <style>
    .contenedorDatos {
      max-height: 300px;
      overflow-y: auto;
    }

    .contenedor-Sugerencias {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      border: 1px solid #ddd;
      max-height: 200px;
      overflow-y: auto;
      background-color: white;
      z-index: 10;
      border-radius: 5px;
    }

    .sugerencia-item {
      padding: 8px;
      cursor: pointer;
    }

    .sugerencia-item:hover {
      background-color: #f0f0f0;
    }

    .sugerencia-item a {
      text-decoration: none;
      color: black;
    }

    .container {
      position: relative;
    }
  </style>

  <%- include('includes/_footer')%>
</body>
