<%- include('includes/_header')%>
<section>
  <h1>Aspirantes</h1>
  <img
    src="https://cdn-icons-png.flaticon.com/512/25/25337.png"
    style="width: 5%"
  />
</section>

<section>
  <table>
    <thead>
      <tr>
        <th>Prueba</th>
        <th>Fecha</th>
        <th>Tiempo</th>
        <th>Estatus</th>
        <th>Respuestas</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <th>Prueba OTIS</th>
        <th>21/02/2025</th>
        <th>29:35 min</th>
        <th>Completada</th>
        <th>
          <button class="image-button" onclick="/consulta/respuestas">
            <img
              src="https://img.icons8.com/ios7/512/plus.png"
              alt=""
              style="width: 10%"
            />
          </button>
        </th>
      </tr>
      <tr></tr>
    </tbody>
  </table>
</section>

<%- include('includes/_footer')%>
