<%- include('includes/_header') %>

<div class="container">
  <!-- Título -->
  <h2 class="title is-3">Crear Grupo</h2>

  <!-- Subir archivo y fecha límite -->
  <div class="columns">
    <div class="column">
      <label class="label">Subir Archivo</label>
      <div class="file">
        <label class="file-label">
          <input class="file-input" type="file" name="resume" accept=".csv" />
          <span class="file-cta">
            <span class="file-label"> Selecciona un archivo </span>
          </span>
        </label>
      </div>
    </div>
    <div class="column">
      <label class="label">Fecha Límite:</label>
      <input type="date" class="input" name="fechaLimite" value="2025-01-01" />
    </div>
  </div>

  <!-- Batería de Pruebas -->
  <div class="box">
    <div class="is-flex is-align-items-center mb-3">
      <strong class="mr-auto">Batería de Pruebas</strong>
      <button id="button-agregar">
        <img
          src="https://img.icons8.com/m_rounded/512/plus.png"
          width="30"
          height="30"
        />
      </button>
    </div>

    <!-- Lista de pruebas -->
    <div class="box has-background-link">
      <div class="columns">
        <div class="column">
          <div class="select is-fullwidth">
            <select name="prueba">
              <option>Selecciona una opción</option>
              <option>Prueba 1</option>
              <option>Prueba 2</option>
            </select>
          </div>
        </div>
        <div class="column is-1" style="text-align: center; margin-top: 5px">
          <button>
            <img
              src="https://static.thenounproject.com/png/2456540-200.png"
              width="30"
              height="30"
            />
          </button>
        </div>
      </div>
    </div>
  </div>

  <br /><br />

  <!-- Botones de acción -->
  <section id="SesionGrupal">
    <div class="title">Sesión Grupal</div>
    <div class="columns is-mobile">
      <div class="column">
        <div class="field">
          <label class="label">Fecha</label>
          <div class="control">
            <input
              class="input"
              type="date"
              name="fechaPruebaGrupal"
              value="2025-01-01"
            />
          </div>
        </div>
      </div>
      <div class="column">
        <div class="field">
          <label class="label">Hora</label>
          <div class="control">
            <input class="input" type="time" name="horaPruebaGrupal" />
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="field">
        <label class="label">Link</label>
        <div class="control">
          <input
            class="input"
            type="text"
            name="linkPruebaGrupal"
            value="ingresa un link"
          />
        </div>
      </div>
    </div>
  </section>

  <br /><br />

  <section id="SesionIndividual">
    <div class="title">Sesión Individual</div>

    <div class="select is-fullwidth">
      <label class="label">Aspirante</label>
      <select>
        <option>Selecciona una opción</option>
        <option>Joanna Nicole</option>
        <option>Frida Arcadia</option>
      </select>
    </div>

    <br /><br /><br />

    <div class="columns is-mobile">
      <div class="column">
        <div class="field">
          <label class="label">Fecha</label>
          <div class="control">
            <input
              class="input"
              type="date"
              name="fechaPruebaIndividual"
              value="2025-01-01"
            />
          </div>
        </div>
      </div>
      <div class="column">
        <div class="field">
          <label class="label">Hora</label>
          <div class="control">
            <input class="input" type="time" name="horaPruebaIndividual" />
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="field">
        <label class="label">Link</label>
        <div class="control">
          <input
            class="input"
            type="text"
            name="linkPruebaIndividual"
            value="ingresa un link"
          />
        </div>
      </div>
    </div>
  </section>
</div>

<div class="buttons is-centered">
  <a href="inicio_psicologa"
    ><button class="button m-5 is-primary has-text-white">Regresar</button></a
  >
  <a href="confirmar_creacion_grupo"
    ><button class="button m-5 is-primary has-text-white">Confirmar</button></a
  >
</div>

<%- include('includes/_footer') %>
