<%- include('includes/_header')%>
<section>
  <h1>Crear Grupo</h1>
  <a href="sesion_grupal"
    ><button class="button m-5 is-danger">Sesion Grupal</button></a
  >
  <a href="sesion_individual"
    ><button class="button m-5 is-danger">Sesion Individual</button></a
  >
  <a href="confirmar_creacion_grupo"
    ><button class="button m-5 is-danger">Confirmar</button></a
  >
</section>
<%- include('includes/_footer')%>
