<%- include('includes/_navbarP')%>
<style>
  .fullHeight {
    min-height: 76.5vh;
  }
</style>
<section class="fullHeight">
  <br /><br />
  <div class="title pl-6">Bienvenida Claudia Cook</div>
  <a href="crear_grupo"
    ><button class="button m-5 is-primary has-text-white">
      Crear Grupo
    </button></a
  >
  <a href="grupo/elegir"
    ><button class="button m-5 is-primary has-text-white">
      Consultar grupo
    </button></a
  >
  <a href="consulta_aspirante"
    ><button class="button m-5 is-primary has-text-white">
      Consultar aspirante
    </button></a
  >
  <a href="consulta_prueba"
    ><button class="button m-5 is-primary has-text-white">
      Consultar pruebas
    </button></a
  >
</section>
<%- include('includes/_footer')%>
