<%- include('includes/_header')%>
<section>
  <br /><br />
  <div class="title">Bienvenida Claudia Cook</div>
  <a href="crear_grupo"
    ><button class="button m-5 is-primary has-text-white">
      Crear Grupo
    </button></a
  >
  <a href="consulta_grupo"
    ><button class="button m-5 is-primary has-text-white">
      Consultar grupo
    </button></a
  >
  <a href="consulta_aspirante"
    ><button class="button m-5 is-primary has-text-white">
      Consultar aspirante
    </button></a
  >
  <a href="consulta_prueba"
    ><button class="button m-5 is-primary has-text-white">
      Consultar prueba
    </button></a
  >
</section>
<%- include('includes/_footer')%>
