<%- include('includes/_navbarP')%>
<style>
  .fullHeight {
    min-height: 76.5vh;
  }
</style>
<section class="section fullHeight">
  <div class="container">
    <div class="title">Subir Reporte - Grupo</div>
    <div class="columns is-mobile">
      <div class="column">
        <div class="has-text-weight-bold">Grupo:</div>
        <div class="has-text-weight-bold">Generación:</div>
        <div class="has-text-weight-bold">Total aspirantes:</div>
        <br /><br /><br />
        <a href="consulta_grupo"
          ><button class="button m-5 is-primary has-text-white">
            Regresar
          </button></a
        >
      </div>
      <div class="column">
        <div class="has-text-weight-bold">Subir Archivo</div>
        <form action="/upload" method="post" enctype="multipart/form-data">
          <div class="file is-boxed">
            <label class="file-label">
              <input
                class="file-input"
                type="file"
                name="resume"
                accept=".pdf" />
              <span class="file-cta">
                <span class="file-icon">
                  <img
                    src="https://images.icon-icons.com/3858/PNG/512/upload_file_icon_238365.png" />
                </span>
                <span class="file-label"> Elige un archivo </span>
              </span>
            </label>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<%- include('includes/_footer')%>
