<%- include('includes/_navbar')%>
<style>
  .fullHeight {
    min-height: 90vh;
    margin-top: 20px;
  }
</style>
<section class="section fullHeight">
  <div class="container">
    <div class="title has-text-weight-semibold">Subir CV</div>
    <div class="columns is-mobile">
      <div class="column">
        <div class="has-text-weight-semibold">Subir Archivos</div>
        <br />
        <div>PDF</div>
        <form action="registra_CV" method="POST" enctype="multipart/form-data">
          <div class="file is-boxed">
            <label class="file-label">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
              <input
                class="file-input"
                type="file"
                name="file"
                id="archivo"
                accept=".pdf"
                required
              />
              <span class="file-cta">
                <span class="file-icon">
                  <img
                    src="https://images.icon-icons.com/3858/PNG/512/upload_file_icon_238365.png"
                  />
                </span>
                <span class="file-label"> Elige un archivo </span>
              </span>
              <span class="file-name"> </span>
            </label>
          </div>
          <br />
          <input class="button is-info" type="submit" value="Subir" />
        </form>
      </div>
    </div>
  </div>
</section>

<script>
  const file = document.getElementById("archivo");
  const fileName = document.querySelector(".file-name");

  file.addEventListener("change", function () {
    const archivo = file.files[0];
    if (archivo) {
      fileName.textContent = archivo.name;
    } else {
      fileName.textContent = "No hay archivo seleccionado";
    }
  });
</script>

<%- include('includes/_footer')%>
