<%- include('includes/_navbarP')%>
<style>
  .fullHeight {
    min-height: 90vh;
    margin-top: 20px;
  }
</style>
<section class="section fullHeight">
  <div class="container">
    <div class="title">Subir Reporte - Grupo</div>
    <div class="columns is-mobile">
      <div class="column">
        <div class="has-text-weight-bold">Posgrado: <%= grupo.posgrado %></div>
        <div class="has-text-weight-bold">
          Generación: <%= grupo.generacion %>
        </div>
        <br /><br /><br />
        <a href=":id"
          ><button class="button m-5 is-primary has-text-white">
            Regresar
          </button></a
        >
        <a href="/psicologa/inicio"
          ><button class="button m-5 is-primary has-text-white" method="POST">
            Confirmar
          </button></a
        >
      </div>
      <div class="column">
        <div class="has-text-weight-bold">Subir Archivos</div>
        <br />
        <div>PDF</div>
        <form action="/upload" method="POST" enctype="multipart/form-data">
          <div class="file is-boxed">
            <label class="file-label">
              <input
                class="file-input"
                type="file"
                name="resume"
                accept=".pdf"
                required />
              <span class="file-cta">
                <span class="file-icon">
                  <img
                    src="https://images.icon-icons.com/3858/PNG/512/upload_file_icon_238365.png" />
                </span>
                <span class="file-label"> Elige un archivo </span>
              </span>
            </label>
          </div>
        </form>
        <br />
        <div>FODA</div>
        <form action="/upload" method="post" enctype="multipart/form-data">
          <div class="file is-boxed">
            <label class="file-label">
              <input
                class="file-input"
                type="file"
                name="resume"
                accept=".csv"
                required />
              <span class="file-cta">
                <span class="file-icon">
                  <img
                    src="https://images.icon-icons.com/3858/PNG/512/upload_file_icon_238365.png" />
                </span>
                <span class="file-label"> Elige un archivo </span>
              </span>
            </label>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<%- include('includes/_footer')%>
