<%- include('includes/_navbarP')%>
<style>
  .fullHeight {
    min-height: 100vh;
  }
</style>
<section class="section fullHeight">
  <h1>Sesión Grupal</h1>
  <a href="crear_grupo"
    ><button class="button m-5 is-danger">Confirmar</button></a
  >
</section>

<%- include('includes/_footer')%>
