<%- include('includes/_header')%>
<section>
  <h1>Sesión Individual</h1>
  <a href="crear_grupo"
    ><button class="button m-5 is-danger">Confirmar</button></a
  >
</section>

<%- include('includes/_footer')%>
