<%- include('includes/_navbarP')%>
<style>
  .fullHeight {
    min-height: 90vh;
    margin-top: 20px;
  }
</style>
<section class="section fullHeight">
  <h1>Sesión Individual</h1>
  <a href="crearGrupo"
    ><button class="button m-5 is-danger">Confirmar</button></a
  >
</section>

<%- include('includes/_footer')%>
